---
---
<header class="bg-gray-800 py-4">
  <nav class="max-w-6xl mx-auto px-4">
    <ul class="flex space-x-6 text-white">
      <li><a href="/" class="hover:text-gray-300">Flight Tickets</a></li>
      <li><a href="/campaigns" class="hover:text-gray-300">Campaigns</a></li>
      <li><a href="/travel-guide" class="hover:text-gray-300">Travel Guide</a></li>
      <li><a href="/useful-info" class="hover:text-gray-300">Useful Info</a></li>
      <li><a href="/contact" class="hover:text-gray-300">Contact</a></li>
    </ul>
  </nav>
</header>